{% extends "base.html" %} {% block content %}
{% load static %}
<section class="content">
    <section class="post_form">        
        <form action=" " method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name"  value= "{{post.name}}" required/>
            <input type="text" name="body" value="{{post.body}}" required></input>            

            <div class="pic">
                <img src="{{ post.image.url }}" style="max-width: 100%; max-height: 100%;"  />
                     <input type="file" name="image">                
            </div>
            <div class="upp" style="display:flex;"> <input type="submit" value="Update"style="background-color: rgb(29, 161, 242);
                color: white;
                font-size: 15px;
                font-weight: bold;                
                cursor: pointer;
                border-radius: 4px;
                border: 0px;
                width: 88px;
                height: 35px;"></input>
                        <button class="cancel" type="submit"style="background-color: rgb(29, 161, 242);
                color: white;
                font-size: 15px;
                font-weight: bold;
                margin-left: 20px;
                cursor: pointer;
                border-radius: 4px;
                border: 0px;
                width: 88px;
                height: 35px;">cancel</button></div>
           
        </form>

    </section>
   
  <!-- <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/posts.js' %}"></script> -->
</section>
{% endblock %}